.btnBuy {
    background: #CC8624;
    opacity: 0.9;
    box-sizing: border-box;
    border-radius: 10px;
    width: 137px;
    cursor: pointer;
}
.btnBuy a:hover {
    font-weight: 400;
    text-decoration-line: none;
}
.btnBuy a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 37px;
}

.leftSec {
    flex-grow: 2;
    border: 2px solid #CC8624;
    border-radius: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.rightSec {
    flex-grow: 2;
    background: #FFFFFF;
    border-radius: 0px 10px 10px 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}