$desktop: 900px;
$table: 450px;
$mobile: 375px;
$mainFont: Inter;
$mainColorHover: rgba(54, 165, 3, 0.7);
$mainGradient: linear-gradient(
  103.5deg,
  #000000 7.5%,
  #070a03 66.74%,
  #000000 112.06%
);
