.responiveHeader {
    display: none;
}
.navBurger {
    width: 100%;
    background-color: #e2e2e2;
    position: fixed;
    z-index: 50;
    align-items: center;
    background: #F2C364;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 7%);
    max-height: 80px;
    padding: 6px 0;
}
.burgerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    max-height: 53px;
}
.main-burger {
    padding: 50px;
}

.burgerBtn {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}
.burgerBtn:before {
    content: '';
    position: absolute;
    top: 0;
    width: 30px;
    background-color: #000000;
    height: 2px;
}
.burgerBtn span {
    position: absolute;
    top: 9px;
    width: 30px;
    background-color: #000;
    height: 2px;
}
.burgerBtn:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 30px;
    background-color: #000;
    height: 2px;
}



.responsiveMenuProButton {
    width: 55px;
    height: 55px;
    display: inline-block;
    transition: transform 0.5s, background-color 0.5s;
    padding: 0 0;
    cursor: pointer;
    font: inherit;
    color: inherit;
    text-transform: none;
    border: 0;
    margin: 0;
    z-index: 99999;
    overflow: hidden;
    outline: none;
}
.responsiveMenuProButton .responsiveMenuProBox {
    color: #000;
}
.responsiveMenuProAccessible .responsiveMenuProBox {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 19px;
    position: relative;
}
.responsiveMenuProSpin .responsiveMenuProInner {
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    width: 25px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    display: block;
    top: 50%;
    margin-top: -1.5px;
}
.responsiveMenuProSpin .responsiveMenuProInner::before {
    transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
    top: -8px;
}
.responsiveMenuProInner::before, .responsiveMenuProInner::after {
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
}
.responsiveMenuProSpin .responsiveMenuProInner::after {
    transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.responsiveMenuProInner::after {
    bottom: -8px;
}
.responsiveMenuProSpin.isActive .responsiveMenuProInner {
    transform: rotate(225deg);
    transition-delay: 0.14s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.responsiveMenuProSpin.isActive .responsiveMenuProInner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
}
.responsiveMenuProSpin.isActive .responsiveMenuProInner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* @media */
@media (max-width: 1300px) {

    .burgerBtn {
        margin-left: 0;
    }

    .responiveHeader {
        display: block!important;
    }

    .navCart {
        padding-right: 8px;
    }


}