.cart {
    z-index: 99999;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.cart.active {
    opacity: 1;
    pointer-events: all;
}
.cart .back__buy {
    margin-bottom: -160px;
}
.cart .btnBlck > a:hover > div {
    color: #fff ;
}
.cart .btnBlck > a > div {
    color: #CC8624;
}
.cart .btnBlck > a {
    border: 2px solid #CC8624;
    height: 40px;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
}
.cart__content {
    padding: 40px 30px 80px;
    border-radius: 12px;
    background-color: #fff;
    height: 700px;
    max-width: 965px;
    width: 965px;
    transition: 0.4s all;
}

.cart__content.active {
    transform: scale(1);
}
.cart__container {
    display: flex;
    flex-direction: row;
}
.cross {
    display: inline-flex;
    position: absolute;
    right: 40px;
    top: 35px;
    cursor: pointer;
}

.title__page {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */


    color: #161616;
    text-align: left;

    margin-bottom: 20px;
}
.feedback__blck {
    display: flex;
    flex-direction: row;
}

.txt__blck {
    text-align: left;
}
p.txt {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #161616;
}
.contacts__blck div {
    margin-top: 30px;
}
.contacts__blck .address a:hover,
.contacts__blck .manager a:hover {
    text-decoration: none;
}
form.user__form {
    display: flex;
    flex-direction: column;
}
.user__form input[type="text"] {
    border: 0;
    line-height: 20px;
    margin: 20px 0;
    border-bottom: 2px solid #CC8624;
    max-width: 600px;
}
.contacts__blck {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.contacts__blck p {
    margin: 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #161616;
}
.contacts__blck a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #161616;
}
.contacts__blck .email a {
    color: #CC8624;
    text-decoration-line: underline;
}
.right__blck {

    display: flex;

    flex-direction: column;
}
textarea#feedback {
    background: #FFFFFF;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    height: 271px;
    font-size: 18px;
    border: 2px solid #161616;
    box-sizing: border-box;
    border-radius: 10px;
}
form.feedback {
    text-align: right;
}
.user__form input {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #161616;
}
.user__form input::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #161616;
}
.func__order {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.title__switch {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #161616;
    margin-top: 15px;
}
.switch {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.switch a {
    margin-left: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #161616;
}
.btnBlck {
    padding: 50px 0 0;
}
.breadcrumbs {
    text-align: left;
    margin-bottom: 30px;
}

.left__blck .title__page {
    margin-top: 30px;
}
form.delivery__form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 30px;
}
.NovaPoshta {
    margin-bottom: 15px;
}
.delivery__form label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #161616;
}
.delivery__form input {
    margin-left: 15px;
}
form.pay__form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    margin-bottom: 30px;
}
.right__blck .title__page {
    margin-top: 10px;
    margin-bottom: 25px!important;
}
.title__container {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid rgba(22, 22, 22, 0.5);
}

.title__container div {
    padding: 15px 0;
    flex-grow: 1;
    display: inline-flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: rgba(22, 22, 22, 0.5);
}
.title__container div:nth-child(2), .title__container div:nth-child(3), .title__container div:nth-child(4) {
    justify-content: flex-end;
}
.order__item {
    display: inline-flex;
    align-items: center;
    width: 100%;
    border-bottom: 3px solid rgba(22, 22, 22, 0.5);
}
.cart .name__order {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #161616;
    padding: 0 55px;
}
.cart .price__order {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #161616;
    padding: 0 40px;
}

.cart  .delete__order {
    padding: 0 35px;
}
.summ__order {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #161616;
    padding: 0 0 0 40px;
}
.price__order span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;
    color: rgba(22, 22, 22, 0.5);
}
.summ__order span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;
    color: rgba(22, 22, 22, 0.5);
}
.func__order {
    text-align: right;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.title__switch {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #161616;
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tot__summ {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #161616;
}
.back__buy a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #CC8624;
    text-decoration: underline;
}
.tot__summ div {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #161616;
    margin-left: 15px;
}
.tot__summ div span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.04em;
    color: rgba(22, 22, 22, 0.5);
}
.back__buy a img {
    margin-right: 10px;
}
.btnBlck > a > div {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #161616;

}
a#offer {
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #CC8624;
    margin: -2px 7px;
}
form.offer__form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    text-align: right;
    margin-bottom: 30px;
}
.offer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}
.offer label {
    margin-right: 20px;
    cursor: pointer;
}
.delete__order a {
    display: inline-flex;
}
a#info {
    position: absolute;
    display: inline-flex;
    top: 68.5vh;
    margin-right: 15px;
    height: 15px;
    cursor: pointer;
}
.delivery__form .NovaPoshta {
    margin-bottom: 15px;
    display: inline-flex;
    flex-direction: row-reverse;
}
.deleteSumm {
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.customCheckbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.namePrice {
    flex-direction: row;
    display: flex;
}

.customCheckbox+label {


    cursor: pointer;
    display: inline-flex;
    align-items: center;
    flex-direction: row-reverse;


    user-select: none;
}
.customCheckbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    margin-left:15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url('static/img/chekbox.svg');
    background-image: url('static/img/chekbox.svg');
}
.customCheckbox:checked+label::before {
    background-position: center center,center center;
    background-size: 100%, contain;
    background-image: url("static/img/chekbox-active.svg"), url('static/img/chekbox.svg');
}
/* стили при наведении курсора на checkbox */
.customCheckbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #270ca0;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.customCheckbox:not(:disabled):active+label::before {
    background-color: #7e2323;
    border-color: #0f4685;
    border-radius: 15px;
}
/* стили для чекбокса, находящегося в фокусе */
.customCheckbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

    border-radius: 15px;
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.customCheckbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.customCheckbox:disabled+label::before {
    background-color: #e9ecef;
}



@media (max-width: 1300px) {
    .feedback__blck {
        display: flex;
        flex-direction: column;
    }
    .left__blck {
        display: flex;
        margin: 0;
        flex-direction: column;
        width: 100%;
    }
    .right__blck {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 700px) {
    .namePrice {
        flex-direction: column;
        display: flex;
    }
    .back__buy a {
        font-size: 10px;
        line-height: 12px;
    }
    form.offer__form {
        margin-top: 40px;
    }
    .btnBlck {
        padding: 40px 0!important;
    }
    .back__buy {
        margin-top: 20px;
    }
    .func__order {
        margin-top: 0;
    }
    .summ__order span {
        margin-left: 5px;
    }
    .price__order {
        padding: 0 30px 0 0;
    }
    .deleteSumm {
        margin-top: 10px;

    }
    .summ__order {
        display: inline-flex;
        align-items: center;
        padding: 0 0px 0 10px;
    }
    .delete__order {
        padding: 0 0 0 10px;
    }
    .order__item {
        display: inline-flex;
        padding: 20px 0;
        align-items: end;
    }
    .name__order {
        margin-bottom: 10px;
        padding-left: 0;
    }
    .title__container div:nth-child(2), .title__container div:nth-child(3), .title__container div:nth-child(4) {
        justify-content: space-evenly;
    }
    .right__blck .title__page {
        text-align: left!important;
        padding-right: 0!important  ;
    }
    form.pay__form {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .pay__form label {
        font-size: 12px;
        line-height: 15px;
    }
    a#info {
        top: 70vh;

    }
    .delivery__form label {
        font-size: 12px;
        line-height: 15px;
    }
    form.delivery__form {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .breadcrumbs {
        display: none;
    }
    .deleteSumm {
        display: flex;
        flex-direction: row-reverse;
    }
    .amount__order {
        padding: 0 40px;
    }
    .namePrice {
        flex-direction: column;
    }


    .title__page {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 31px;
        line-height: 38px;

        color: #161616;
        padding-right: 30%;
    }
    p.txt {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;

        color: #161616;
    }
    .user__form input::placeholder {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */


        color: #161616;
    }
    .contacts__blck a,
    .contacts__blck p {
        font-size: 12px;
        line-height: 15px;
    }
    .title__switch {
        font-size: 12px;
        line-height: 15px;
        margin-top: 40px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
    }
    textarea#feedback {
        font-size: 14px;
        margin-top: 40px;
    }
    .switch a {
        font-size: 16px;
    }
    .btnBlck {
        padding: 50px 0 0;
    }
    .title__container div:nth-child(3) {
        display: none;
    }
    .img__order {
        display: none;
    }
}

@media (max-width: 425px) {


}

@media (max-width: 1026px) {
    .cart__content {
        width: 90vw;
    }

}

@media (max-width: 700px) {
    .cart {
        overflow: scroll;
    }
    .cart__content {
        width: 100vw;
    }
    .cart__container {
        flex-direction: column;
    }
    .cart {
        align-items: flex-start;
    }
    .cart__content {
        border-radius: 0;
    }
}