.feedbackPage {
    padding: 100px 0 130px;
}
.feedbackPage .title__page {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */


    color: #161616;
    text-align: left;

    margin-bottom: 20px;
}
.feedbackPage .feedback__blck {
    display: flex;
    flex-direction: row;
}
.feedbackPage .left__blck {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 15px;
}
.feedbackPage .txt__blck {
    text-align: left;
}
.feedbackPage p.txt {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #161616;
}
.feedbackPage .contacts__blck div {
    margin-top: 30px;
}
.feedbackPage .contacts__blck .address a:hover,
.feedbackPage .contacts__blck .manager a:hover {
    text-decoration: none;
}
.feedbackPage form.user__form {
    display: flex;
    flex-direction: column;
}
.feedbackPage .user__form input[type="text"] {
    border: 0;
    line-height: 20px;
    margin: 20px 0;
    border-bottom: 2px solid #CC8624;
    max-width: 600px;
}
.feedbackPage .contacts__blck {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.feedbackPage .contacts__blck p {
    margin: 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #161616;
}
.feedbackPage .contacts__blck a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #161616;
}
.feedbackPage .contacts__blck .email a {
    color: #CC8624;
    text-decoration-line: underline;
}
.feedbackPage .right__blck {
    width: 50%;
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}
.feedbackPage textarea#feedback {
    background: #FFFFFF;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    height: 271px;
    font-size: 18px;
    border: 2px solid #161616;
    box-sizing: border-box;
    border-radius: 10px;
}
.feedbackPage form.feedback {
    text-align: right;
}
.feedbackPage .user__form input {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #161616;
}
.feedbackPage .user__form input::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #161616;
}
.feedbackPage .switch__feedback {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.feedbackPage .title__switch {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #161616;
    margin-top: 15px;
}
.feedbackPage .switch {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.feedbackPage .switch a {
    margin-left: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #161616;
}
.feedbackPage .btnBlck {
    padding: 50px 0;
}


@media (max-width: 700px) {
    .feedbackPage {
        padding: 100px 0 80px;
    }
    .feedbackPage .feedback__blck {
        display: flex;
        flex-direction: column;
    }
    .feedbackPage .left__blck {
        display: flex;
        margin: 0;
        flex-direction: column;
        width: 100%;
    }
    .feedbackPage .right__blck {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .feedbackPage .title__page {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 31px;
        line-height: 38px;

        color: #161616;
        padding-right: 30%;
    }
    .feedbackPage p.txt {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;

        color: #161616;
    }
    .feedbackPage .user__form input::placeholder {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */


        color: #161616;
    }
    .feedbackPage .contacts__blck a,
    .feedbackPage .contacts__blck p {
        font-size: 12px;
        line-height: 15px;
    }
    .feedbackPage .title__switch {
        font-size: 12px;
        line-height: 15px;
        margin-top: 40px;
    }
    .feedbackPage textarea#feedback {
        font-size: 14px;
        margin-top: 40px;
    }
    .feedbackPage .switch a {
        font-size: 16px;
    }
    .feedbackPage .btnBlck {
        padding: 30px 0;
    }
}

/* .mainContainer */
.mainContainer {
    max-width: 1770px;
    margin: 0 auto;
}
@media (max-width: 12450px) {
    .mainContainer {
        max-width: 1700px;
        margin: 0 auto;
    }
}
@media (max-width: 1770px) {
    .mainContainer {
        max-width: 1470px;
        margin: 0 auto;
    }
}

@media (max-width: 1550px) {

    .mainContainer {
        max-width: 1320px;
        margin: 0 auto;
    }
}
@media (max-width: 1300px) {
    .mainContainer {
        max-width: 1000px;

    }

}
@media (max-width: 1026px) {
    .mainContainer {
        max-width: 800px;
        flex-direction: column!important;
    }

}
@media (max-width: 800px) {
    .mainContainer {
        max-width: 680px;
    }
}
@media (max-width: 700px) {
    .mainContainer {
        max-width: 420px;
    }
}
@media (max-width: 425px) {

    .mainContainer {
        max-width: 340px;
        flex-direction: column!important;
    }
}

/* btn-styles */
.btnBlck {
    padding: 50px 0;
}
.btnBlck > a {
    height: 40px;
    display: inline-flex;
    align-items: center;
    border: 2px solid #161616;
    box-sizing: border-box;
    border-radius: 10px;
}
.btnBlck > a > div {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #161616;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
    padding: 0 16px;
}
.btnBlck > a:hover {
    background: #CC8624 ;
    border: 2px solid #CC8624;
    text-decoration: none;
}
.btnBlck > a:hover > div {
    color: #fff;
}
@media (max-width: 425px) {
    .btnBlck > a {
        background: #CC8624;
        border: 2px solid #CC8624;
    }


}