.mainPage {
    z-index: 5;
}
.mainPage .mainContainer{
    display: flex;
    flex-direction: row;
}
.mainPage .bannerSec {
    background-image: url('static/img/banner-main.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-height: 924px;
    height: 924px;

}
.mainPage .bannerContainer {
    max-width: 1660px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.mainPage .bannerBlck {

    width: 560px;
    text-align: left;
    position: relative;
    bottom: 10%;
    left: 6%;

}
.mainPage .bannerBlck h1 {
    font-family: Lobster;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 80px;
    color: #161616;
    margin: 0;
}
.mainPage.secTxt {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #161616;
}
.mainPage .secTtl {
    font-family: Lobster;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    color: #161616;
}
.mainPage .betweenBlck {
    width: 90%;
    max-width: 795px;
    display: flex;
    max-height: 324px;
    left: 0px;
    top: 870px;
    position: absolute;
    background: #F2C364;
    border-radius: 0px 10px 10px 0px;
    text-align: left;
}
.mainPage .container {
    padding: 0 100px;
    margin: 20px 0 30px;
}

.mainPage .container h2 {
    margin: 0;
    font-family: Lobster;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    color: #161616;
}
.mainPage .container p {
    margin: 0;
    margin-top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1;
    color: #161616;
}

/* about1sec */

.mainPage .aboutProduct {
    background-image: url('static/img/img1-main.png');
    background-repeat: no-repeat;
    background-position: 110% 20%;
    padding: 250px 0 150px;
}
.mainPage .aboutProduct .txtBlock{
    width: 50%;
    text-align: left;
}
.mainPage .aboutProduct .imgBlock {
    width: 50%;
}
.mainPage .aboutProduct .imgBlock img {
    padding-top: 60px;

    width: 100%;
    max-width: 520px;
}

.buttonLink {
    text-decoration: none;
    list-style: none;
}

/* about2sec */
.mainPage .aboutProduct_2 {
    padding: 60px 0;
    background-color: #F2C364;
}
.mainPage .aboutProduct_2 .txtBlock{
    width: 60%;
    text-align: left;
    padding-left: 90px;
}
.mainPage .aboutProduct_2 .imgBlock {
    width: 40%;
    text-align: left;
}
.mainPage .aboutProduct_2 .imgBlock img {
    width: 100%;
}
.mainPage .aboutProduct_2 .mainContainer {
    align-items: center;
}
.mainPage .aboutProduct_2 .btnBlck {
    padding-top: 10px;
}

/* about3sec */

.mainPage .aboutProduct_3 {
    padding: 60px 0;

}
.mainPage .aboutProduct_3 .txtBlock{
    width: 60%;
    text-align: left;
    padding-right: 90px;
}
.mainPage .aboutProduct_3 .imgBlock {
    width: 40%;
    text-align: right;
}
.mainPage .aboutProduct_3 .imgBlock img {
    padding-top: 60px;
    width: 100%;
}

.mainPage .aboutProduct_3 .mainContainer {
    align-items: center;
}
/* about4sec */

.mainPage .aboutProduct_4 {
    padding: 60px 0 120px;

}
.mainPage .aboutProduct_4 .txtBlock{
    width: 37%;
    text-align: left;
}
.mainPage .aboutProduct_4 .imgBlock {
    width: 26%;
}
.mainPage .aboutProduct_4 .imgBlock img {
    padding-top: 60px;
    width: 100%;
    max-width: 290px;
}

.mainPage .aboutProduct_4 .mainContainer {
    align-items: flex-start;
}






/* @media */
@media (max-width: 1026px) {
    .mainPage .bannerBlck {
        left: 0;
        padding-left: 25px;
    }

    .mainPage .aboutProduct .txtBlock,
    .mainPage .aboutProduct_2 .txtBlock,
    .mainPage .aboutProduct_3 .txtBlock,
    .mainPage .aboutProduct_4 .txtBlock {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .mainPage .aboutProduct .imgBlock,
    .mainPage .aboutProduct_2 .imgBlock,
    .mainPage .aboutProduct_3 .imgBlock,
    .mainPage .aboutProduct_4 .imgBlock {
        width: 100%;
    }



    /* font */
    .mainPage .bannerBlck h1 {
        font-size: 31px;
        line-height: 39px;
    }
    .mainPage .container h2 {
        font-size: 24px;
        line-height: 30px;
    }
    .mainPage .container p {
        font-size: 12px;
        line-height: 135%;
    }
    .secTtl {
        font-size: 24px;
        line-height: 30px;
    }
    .secTxt {
        font-size: 13px;
        line-height: 130%;
    }

}
@media (max-width: 425px) {
    .mainPage .aboutProduct_2 .btnBlck a {
        background: transparent;
        border: 2px solid #161616;
    }


    .mainPage .aboutProduct_2 .mainContainer{
        flex-direction: column-reverse!important;
    }


    .mainPage .bannerSec {
        background-image: url('static/img/banner-main-adapt.png');
        background-repeat: no-repeat;
        background-position: 30% 110%;
        background-size: 115% 90%;
        max-height: 588px;
        height: 588px;

    }
    .mainPage .bannerContainer {
        padding-top: 65px;
    }
    .mainPage .betweenBlck {
        top: 470px;
    }
    .mainPage .container {
        padding: 0 17px;
    }

    .mainPage .aboutProduct {
        padding: 180px 0 50px;
        background-size: 75%;
        background-position: 166% 85%;
    }
    .mainPage .aboutProduct .imgBlock img {
        width: 80%;
        max-width: 520px;
        transform: translateX(-30%);
    }


    .mainPage .aboutProduct_3 .imgBlock img,
    .mainPage .aboutProduct_4 .imgBlock img{
        padding-top: 30px;
    }
    .mainPage .aboutProduct_2,
    .mainPage .aboutProduct_3,
    .mainPage .aboutProduct_4 {
        padding: 10px 0 35px;
    }


}
@media (max-width: 388px) {
    .mainPage .mainContainer {

        max-width: 340px;
    }
}

/* .mainContainer */
.mainContainer {
    max-width: 1770px;
    margin: 0 auto;
}
@media (max-width: 12450px) {
    .mainContainer {
        max-width: 1700px;
        margin: 0 auto;
    }
}
@media (max-width: 1770px) {
    .mainContainer {
        max-width: 1470px;
        margin: 0 auto;
    }
}

@media (max-width: 1550px) {

    .mainContainer {
        max-width: 1320px;
        margin: 0 auto;
    }
}
@media (max-width: 1300px) {
    .mainContainer {
        max-width: 1000px;

    }

}
@media (max-width: 1026px) {
    .mainContainer {
        max-width: 800px;
        flex-direction: column!important;
    }

}
@media (max-width: 800px) {
    .mainContainer {
        max-width: 680px;
    }
}
@media (max-width: 700px) {
    .mainContainer {
        max-width: 420px;
    }
}
@media (max-width: 425px) {

    .mainContainer {
        max-width: 340px;
        flex-direction: column!important;
    }
}
