.burgerMenu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;
    left: 0;
    transform: translateX(-130%);
    transition: all 0.2s;
    z-index: 6;
}

.burgerMenuActive {
    transform: translateX(0);
}


.menuContent {
    transition: all 0.4s;
    width: 30%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    
    display: flex;
}
.menuHeader {
    padding: 10px;
    font-size: 2rem;
    color: #fff;
    border-bottom: 1px solid #fff;
    width: 100%;
    text-align: center;
}
.burgerMenu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;
    left: 0;
    transform: translateX(-130%);
    transition: all 0.2s;
    z-index: 6;
}
.blur {
    width: 100vw;
    height: 100vh;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    position: absolute;
    z-index: -1;
}
.menuContent {
    transition: all 0.4s;
    width: 30%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
    
    display: flex;
}
.menuHeader {
    padding: 10px;
    font-size: 2rem;
    color: #fff;
    border-bottom: 1px solid #fff;
    width: 100%;
    text-align: center;
}

.menuContent ul a {
    color: #161616;
}
.menuContent ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.menuContent ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    
}

@media screen and (max-width: 768px) {
    .menuContent {
        width: 60%;
    }
    
}



