.modal {
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.modalActive {
    opacity: 1;
    pointer-events: all;
}
.modal__content {
    padding: 40px 30px 80px;
    border-radius: 12px;
    background-color: #fff;
    position: relative;
    width: 76vw;
    transition: 0.4s all;
}

.modal__contentActive {
    transform: scale(1);
}
.modal__container {
    display: flex;
    flex-direction: row;
}
.cross {
    display: inline-flex;
    position: absolute;
    right: 40px;
    top: 35px;
    cursor: pointer;
}


@media (max-width: 1026px) {
    .modal__content {
        width: 90vw;
    }

}

@media (max-width: 700px) {
    .modal {
        overflow: scroll;
    }
    .modal__content {
        width: 100vw;
    }
    .modal__container {
        flex-direction: column;
    }
    .modal {
        align-items: flex-start;
    }
    .cross {
        display: inline-flex;
        position: absolute;
        right: 17px;
        top: 76px;
    }
    .modal__content {
        border-radius: 0;
    }
}
@media (max-width: 425px) {}