.recipesStockPage {
    padding: 100px 0;
}
.recipesStockPage .btnBlck {
    padding: 0;
}
.recipesStockPage .stars a {
    cursor: pointer;
    display: inline-flex;
    margin-right: 8px;
}

.btnBlck > a {
    height: 40px;
    display: inline-flex;
    align-items: center;
    border: 2px solid #161616;
    box-sizing: border-box;
    border-radius: 10px;

}

.link {
    text-decoration: none;
}

.btnBlck > a > div {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #161616;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
    padding: 0 16px;
}

.recipesStockPage .info__blck {
    padding: 20px 50px 50px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.recipesStockPage .title__recipe {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #161616;
}
.recipesStockPage .amount__ingredient {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #161616;
    margin-top: 20px;
}
.recipesStockPage .time img {
    margin-right: 10px;
}
.recipesStockPage .time {
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #161616;
    margin-top: 15px;
}
.recipesStockPage .prepare__btn {
    text-align: right;
    margin-top: 20px;
}
.recipesStockPage .stars {
    margin-top: 20px;
}
.recipesStockPage .rating__recipe > div:nth-child(1) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #161616;

}
.recipesStockPage .rating__recipe {
    margin-top: 20px;
}

.recipesStockPage .recipes__item {
    max-width: 485px;
    margin: 20px 40px;
    width: 100%;
    min-width: 335px;
    height: 729px;
    display: inline-flex;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
}
.recipesStockPage .img__blck img {
    width: 100%;
}
.recipesStockPage .recipes__item > div {
    display: flex;
    width: 100%;

    flex-direction: column;
}
.recipesStockPage .img__blck:hover .hover {
    display: flex;
}
.recipesStockPage .hover a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-decoration: none;
    /* identical to box height */


    color: #FFFFFF;

}
.recipesStockPage .hover {
    background: rgba(22, 22, 22, 0.5);
    border-radius: 10px 10px 0px 0px;
    width: 485px;
    height: 381px;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
}
.recipesStockPage .title__page {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    text-align: left;
    color: #161616;
    padding-left: 40px;
    margin-bottom: 80px;
}
.recipesStockPage .mainContainer > div:nth-child(3) {
    margin-top: 100px;
}
@media (max-width: 700px) {
    .recipesStockPage .img__blck:hover .hover {
        display: none;
    }
    .recipesStockPage .recipes__item {
        margin: 0;
    }
    .recipesStockPage .title__page {
        font-size: 31px;
        line-height: 38px;
        margin-bottom: 40px;
    }
}

/* .mainContainer */
.mainContainer {
    max-width: 1770px;
    margin: 0 auto;
}
@media (max-width: 12450px) {
    .mainContainer {
        max-width: 1700px;
        margin: 0 auto;
    }
}
@media (max-width: 1770px) {
    .mainContainer {
        max-width: 1470px;
        margin: 0 auto;
    }
}

@media (max-width: 1550px) {

    .mainContainer {
        max-width: 1320px;
        margin: 0 auto;
    }
}
@media (max-width: 1300px) {
    .mainContainer {
        max-width: 1000px;

    }

}
@media (max-width: 1026px) {
    .mainContainer {
        max-width: 800px;
        flex-direction: column!important;
    }

}
@media (max-width: 800px) {
    .mainContainer {
        max-width: 680px;
    }
}
@media (max-width: 700px) {
    .mainContainer {
        max-width: 420px;
    }
}
@media (max-width: 425px) {

    .mainContainer {
        max-width: 340px;
        flex-direction: column!important;
    }
}
