.shopPage .mainContainer{
    display: flex;
    flex-direction: row;
}
.shopPage .bannerSec {
    background-image: url('../static/img/banner-shop.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    height: 924px;
    
}

.shopPage .bannerContainer {
    max-width: 1550px;
    width: 100%;
    height: 100%;
    margin: 0 auto; 
    display: block  ;
    align-items: center;
}
.showcaseBlck {
    display: flex;
    height: 100%;
}
.showcaseBlck > div {
    width: 43%;
    padding: 80px 0;
}
.showcaseItem {
    height: 322px;
    display: inline-flex;
    width: 284px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2.6023px);
    border-radius: 10px;
    margin: 15px;
}
.showcaseItem > div {
    display: flex;
    width: 100%;
    padding: 15px;
    flex-direction: column;
}
.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.price > div:nth-child(2) {
    padding: 10px;
    padding-right: 0;
}

.imgTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgTitle .title {
    max-height: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
/* identical to box height */

letter-spacing: 0.04em;

color: #FFFFFF;

}

.price .rightSec img {
    width: 60%;
}
.price .dishOutlet {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.info {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.notificationAddToCart {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 278px;
    left: 7%;
    height: 40px;
    top: 130px;
    background: #FFFFFF;
    border-radius: 10px;
}

.notificationAddToCart div {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    line-height: 22px;
    color: #CC8624;
    flex: none;
    order: 0;
    flex-grow: 0;
}


@media (max-width: 12450px) {
     .mainContainer {
      max-width: 1700px;
      margin: 0 auto;
    }
  }
@media (max-width: 1770px) {
    .mainContainer {
        max-width: 1470px;
        margin: 0 auto;
      }
      .mainContainer {
    max-width: 1470px;
    margin: 0 auto;
}
}

@media (max-width: 1550px) {
     .mainContainer {
        max-width: 1320px;
        margin: 0 auto;
      }
      .showcaseBlck > div {
        width: 55%;
        padding: 100px 0;
    }
    .shopPage .bannerSec {
        height: auto;
      }

}
@media (max-width: 1300px) {
    .bannerContainer {
        max-width: 1000px;
        
    }
    .showcase-blck > div {
        width: 65%;
        padding: 120px 0;
    }
}
@media (max-width: 1026px) {
     .bannerContainer {
        max-width: 800px;
        flex-direction: column!important;
    }
    .showcaseBlck > div {
        width: 100% !important;
        padding: 120px 0;
    }
    .shopPage .notificationAddToCart {display: none;}

}
@media (max-width: 800px) {
    .bannerContainer {
        max-width: 680px;
      }
.mainPage .mainContainer {
    max-width: 680px;
}
}
@media (max-width: 700px) {
    .bannerContainer {
        max-width: 520px;
      }
.mainPage .mainContainer {
    max-width: 520px;
}
}
@media (max-width: 425px) {
    .shopPage .bannerContainer {
        max-width: 380px;
        flex-direction: column!important;
    }
.mainPage .mainContainer {
    max-width: 380px;
    flex-direction: column!important;
}
}

.btnBlck2 > div {
    height: 40px;
    display: inline-flex;
    align-items: center;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;
}
.btnBlck2  > div {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
    padding: 0 16px;
}
.btnBlck2 > div:hover {
    background: #CC8624 ;
    border: 2px solid #CC8624;
    text-decoration: none;
}

.btnBlck2 > div > span {
    color: #FFFFFF;
}
