* {
  font-family: Montserrat;
}
html,
body {
  margin: 0;
}
body::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}
h1 {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;

  color: #ffffff;
}
h2 {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 300px;
  line-height: 366px;
  display: flex;
  align-items: center;
  text-shadow: -1px 0 #2f80ed, 0 1px #2f80ed, 1px 0 #2f80ed, 0 -1px #2f80ed;
  color: #171717;
}
h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 42px;
  color: #01b5ff;
  margin: 0;
}
p {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  /* or 167% */

  color: #d3d3d3;
}

.helix {
  overflow-x: hidden;
  margin: 0;
  background: url(../images/bg-1.png) no-repeat,
    url(../images/bg-2.png) no-repeat right 50%,
    url(../images/Ellipse\ 1.png) no-repeat 0% 16%,
    url(../images/Ellipse\ 2.png) no-repeat 100% 3%,
    url(../images/Ellipse\ 3.png) no-repeat 100% 25%,
    url(../images/Ellipse\ 4.png) no-repeat 0% 65%,
    url(../images/Ellipse\ 5.png) no-repeat 100% 100%, #171717;
}
main {
  display: flex;
  flex-direction: column;
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px 0;
  background: rgba(23, 23, 23, 0.7);
}
.logo {
  display: flex;
}
.logo img {
  height: 50px;
  z-index: 9;
}
.nav-menu {
  display: flex;
  padding-right: 25%;
}
.nav-menu-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  margin-right: 32px;
  color: #ffffff;
}
.banner-sec {
  display: flex;
  justify-content: center;
}
.banner-text {
  padding-top: 126px;
  max-width: 692px;
  background: url(../images/cubes.png) no-repeat right 10%;
}
.banner-text h1 {
  margin-bottom: 16px;
}
.banner-text p {
  margin-bottom: 32px;
}
button {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 42px;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}
.btn-block button:first-child {
  color: #e66161;
  background: url(../images/Line\ 1.svg) no-repeat bottom left;
  margin-right: 36px;
}
.btn-block button:last-child {
  color: #01b5ff;
  background: url(../images/Line\ 2.svg) no-repeat bottom left;
}
.advantages-wrap {
  margin-top: 82px;
}
.advantages-sec {
  display: flex;
  flex-direction: column;
  background: url(../images/why_us.png) no-repeat 2% 2.2%;
  margin-bottom: 235px;
}
.advantages-sec h1 {
  margin-top: 68px;
  max-width: 666px;
}
.advantages-item {
  transition: 1.7s;
  display: flex;
  width: max-content;
  position: relative;
  left: 190px;
  padding-right: 40%;
  background: url(../images/Own-mediabang-department.png) no-repeat 96% 50%;
  background-size: 20%;
}
.advantages-item:nth-child(2n) {
  left: -5310px;
  padding-right: 0;
  padding-left: 40%;
  background: url(../images/own-funnels.png) no-repeat 17% 49%;
  background-size: 20%;
}
.advantages-item:nth-child(3) {
  background: url(../images/Large-selection-of-offers.png) no-repeat 97% 49%;
  background-size: 20%;
}
.advantages-item:nth-child(4) {
  left: -4600px;
  background: url(../images/High-Envelope.png) no-repeat 20% 48%;
  background-size: 20%;
}
.advantages-text__hidden {
  display: flex;
  flex-direction: column;
  margin-left: 540px;
}
.advantages-item:nth-child(1) .advantages-text__hidden {
  margin-left: 510px;
}
.advantages-item:nth-child(2n) .advantages-text__hidden {
  margin-right: 800px;
}
.advantages-item:nth-child(3) .advantages-text__hidden {
  margin-left: 1460px;
}
.advantages-item:hover {
  left: -5356px;
}
.advantages-item::-webkit-scrollbar {
  display: none;
}
.advantages-item h3 {
  margin-top: 170px;
  margin-bottom: 32px;
}
.advantages-item p {
  max-width: 753px;
}
.advantages-item:nth-child(2n):hover {
  left: -855px;
}
.referral-sec {
  display: flex;
  margin-bottom: 246px;
  background: url(../images/loyality.png) no-repeat 100% 10%;
}
.referral-img {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.referral-text h1 {
  text-align: right;
  margin-bottom: 46px;
}
.referral-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-left: 210px;
}
.referral-text p {
  max-width: 351px;
}
section.registration-sec {
  display: flex;
  margin-bottom: 164px;
}
.registration-form {
  display: flex;
  border-radius: 60px;
  background: linear-gradient(102.12deg, #171717 31.46%, #2f80ed 125.36%);
}
.registration-block {
  display: flex;
  flex-direction: column;
  padding-left: 64px;
}
.registration-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.registration-img img {
  border-radius: 60px;
}
.registration-block h1 {
  margin-top: 101px;
}
.registration-block p {
  margin-top: 19px;
}
.registration-block .btn-block {
  margin-top: 47px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 43px 0 42px;
}
.phone-number {
  display: flex;
  align-items: center;
}
.phone-number a {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 50px;
  margin-left: 12px;
}
.banner-img img {
  position: relative;
  left: -890px;
  top: 890px;
  transition: 1.1s;
}

.helix:hover .banner-img img {
  left: 0;
  top: 0;
}
.banner-img img {
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-50px);
  }
  100% {
    transform: translatey(0px);
  }
}
.modal {
  display: none;
  background: url(../images/Illustration.png) no-repeat, rgba(0, 0, 0, 1);
  background-size: cover;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}
.form-registration {
  max-width: 692px;
  padding-right: 230px;
}
.form-registration h1 {
  margin-bottom: 32px;
}
.form-input input {
  background: #000000;
  border: 2px solid #2f80ed;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 12px;
  max-width: 349px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  max-height: 60px;
  margin-bottom: 32px;
}
.form-button button {
  background: #2f80ed;
  border: 1px solid #2f80ed;
  box-sizing: border-box;
  border-radius: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  padding: 12px 0;
  width: 100%;
  max-width: 349px;
  max-height: 60px;
}
.registration {
  display: flex;
  justify-content: space-around;
  margin-top: 138px;
  margin-bottom: 138px;
}

.registration-img img {
  transform: translatey(0px);
  animation: float2 4s ease-in-out infinite;
}
@keyframes float2 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
span.close {
  display: flex;
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 150px;
}
.hidden-block-social {
  display: flex;
  position: relative;
  height: 0;
  right: -283px;
  top: -90px;
}
.hidden-social {
  display: flex;
  align-items: center;
  height: 56px;
  background: #000000;
  padding-left: 33px;
}
.hidden-social img {
  display: flex;
  margin-right: 24px;
}
.vector-down {
  margin-left: 8px;
}
.social {
  display: flex;
  align-items: center;
  height: 58px;
}
.vectorDown,
.vectorRight {
  cursor: pointer;
}
.menu-btn {
  border-radius: 50%;
  display: none;
  width: 50px;
  top: 40px;
  right: 10px;
  height: 50px;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}
.menu-btn span {
  width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: all 0.5s;
}
.menu.active {
  transform: translateX(0);
}
.menu-btn span:nth-of-type(2) {
  top: calc(50% - 7px);
  visibility: hidden;
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 7px);
  width: 16px;
  left: 54%;
}
.menu-btn.active span:nth-of-type(1) {
  visibility: hidden;
  height: 3px;
}
.menu-btn.active {
  background: #2f80ed;
  position: fixed;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  visibility: initial;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span {
  background-color: #000000;
  height: 3px;
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
  width: 20px;
  left: 50%;
}
.responsive-menu {
  padding: 24px;

  position: fixed;
  height: 100%;
  width: 213px;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: rgba(23, 23, 23, 0.97);
  transform: translateX(-100%);
  transition: transform 0.5s;
}
.responsive-menu .nav-menu {
  color: #fff;
  list-style: none;
  padding-left: 0;
  margin-top: 315px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 0;
}
@media (max-width: 450px) {
  .menu-btn {
    display: block;
  }
  header .nav-menu {
    display: none;
  }
  header {
    padding: 16px;

    padding-top: 43px;
    justify-content: space-between;
  }
  .banner-sec {
    flex-direction: column;
  }
  main {
    width: 100%;
    max-width: fit-content;
    margin: 0;
  }
  .banner-img img {
    width: 100%;
    margin-top: -25px;
    margin-bottom: -60px;
  }
  .advantages-item h2 {
    display: none;
  }
  .advantages-text__hidden {
    margin-left: 0;
    width: 100%;
  }
  .advantages-item:nth-child(1) .advantages-text__hidden {
    margin-left: 0;
  }
  .advantages-item {
    position: static;
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    background: none;
  }
  .advantages-item:nth-child(2n) {
    padding-left: 0;
    margin-right: 0;
  }
  .advantages-item:nth-child(3) .advantages-text__hidden {
    margin-left: 0;
  }
  .referral-sec {
    flex-direction: column;
    margin-bottom: 92px;
    background: none;
  }
  .referral-img img {
    width: 100%;
  }
  .referral-text {
    padding-left: 0;
    margin-top: -34px;
    z-index: 0;
  }
  .registration-form {
    flex-direction: column-reverse;
    width: 100%;
  }
  .registration-img img {
    width: 100%;
  }
  .advantages-item:nth-child(2n) .advantages-text__hidden {
    margin-right: 0;
  }
  h1 {
    font-size: 32px;
    line-height: 39px;
  }
  p {
    font-size: 16px;
    line-height: 28px;
  }
  .banner-text h1 {
    max-width: 342px;
  }
  .advantages-sec h1,
  .advantages-item p,
  .referral-text p,
  .modal-content {
    max-width: fit-content;
  }
  section {
    padding: 0 24px;
  }
  .banner-text {
    padding-top: 30px;
    background: url(../images/cubes.png) no-repeat 94% 6%;
    background-size: 20%;
  }
  .advantages-sec h1 {
    margin-top: 136px;
  }
  .advantages-sec {
    background: url(../images/why_us.png) no-repeat center 11.5%;
    background-size: 80%;
    margin-bottom: 120px;
  }
  .advantages-item h3 {
    font-size: 24px;
    line-height: 42px;
    margin-top: 65px;
    margin-bottom: 16px;
    text-align: right;
  }
  .advantages-item:first-child h3 {
    margin-top: 0;
  }
  .advantages-wrap {
    margin-top: 46px;
  }
  .referral-img {
    z-index: 0;
  }
  .registration-block {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 36px;
  }
  .registration-block h1 {
    margin-top: 0;
  }
  .registration-block p {
    margin-top: 16px;
  }
  .registration-block .btn-block {
    margin-top: 32px;
    display: flex;
  }
  .btn-block button:first-child {
    margin-right: 25px;
  }
  section.registration-sec {
    margin-bottom: 92px;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .nav-menu {
    display: flex;
    flex-direction: column;
    padding-right: 0;
    text-align: center;
  }
  .nav-menu-link {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .phone-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .logo {
    padding-left: 20px;
    margin-bottom: 32px;
  }
  .phone-number a {
    margin-top: 16px;
  }
  .referral-text h1 {
    margin-bottom: 24px;
  }
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  .helix {
    background: url(../images/bg-1-mob.png) no-repeat,
      url(../images/Ellipse\ 2.png) 20% 11% no-repeat,
      url(../images/Ellipse\ 3.png) 0% 28% no-repeat,
      url(../images/Ellipse\ 4.png) 80% 65% no-repeat,
      url(../images/Ellipse\ 5.png) 80% 89% no-repeat, #171717;
  }
  .form-registration {
    padding-right: 0;
  }

  span.close {
    width: 50px;
    height: 50px;
    top: 40px;
    right: 17px;
  }
  .hidden-block-social {
    right: -310px;
  }
  .registration {
    flex-direction: column;
    padding: 0 24px;

    margin-bottom: 0;
    padding-bottom: 100px;
    padding-top: 200px;
    margin-top: 0;
    overflow-x: hidden;
  }
  .hidden-social {
    padding-left: 0;
  }
  .modal {
    overflow-y: hidden;
  }
  .modal {
    background: rgba(0, 0, 0, 1);
  }
  .form-input input {
    width: 100%;
    max-width: 450px;
  }
  .form-button button {
    width: 100%;
    max-width: 450px;
  }
}
